<launch>

  <include file="$(find SDR_simulation)/launch/gazebo.launch">
  </include>

  <rosparam command="load"
            file="$(find SDR_simulation)/config/wheels.yaml"
            ns="SDR_simulation"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="SDR_simulation --shutdown-timeout 3"/>

  <node name="rqt_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/SDR_simulation/cmd_vel"/>
  </node>

  <node name="depth_to_aligned_depth_to_color" pkg="SDR_simulation"	 	   type="depth_to_aligned_depth_to_color.py">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="world_to_base_link" args="0 0 0 0 0 0 /world /base_link 100"/>

</launch>
